<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cloo.clSharp" version="1.0.1" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="OpenTK" version="3.0.1" targetFramework="net46" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-arm.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-arm64.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-arm64.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-x64.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.Compiler" version="2.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="runtime.win10-x86.Microsoft.Net.Native.SharedLibrary" version="2.2.3" targetFramework="net461" developmentDependency="true" />
</packages>